<div class='question col-md-8'>
  <div class="question-title">
  <%= @question.title %>
  </div>



    <%= form_tag({ controller: "votes", action: "update", vote_type: true, voteable: { id: @question, type: @question.class }}, method: "put") do -%>
      <%= button_tag "Boss" %>
    <% end -%>
      <span class="score">0</span>
    <%= form_tag({ controller: "votes", action: "update", vote_type: false, voteable: { id: @question, type: @question.class }}, method: "put") do -%>
      <%= button_tag "Not Boss" %>
    <% end -%>

  <div class="question-body">
  <%= @question.body%>
  </div>
</div>
