<div class='question col-md-12'>
  <div class="question-title">
    <h3 class="question-title-header"><%= @question.title %><h3>
  </div>
  <div class="vote-box">
    <%= form_tag({ controller: "votes", action: "update", vote_type: true, voteable: { id: @question, type: @question.class }}, method: "put", remote: true) do -%>
      <%= button_tag "Boss" %>
    <% end -%>
    <div class="score">
      <span><%= @question.vote_count %></span>
    </div>
    <%= form_tag({ controller: "votes", action: "update", vote_type: false, voteable: { id: @question, type: @question.class }}, method: "put", remote: true) do -%>
      <%= button_tag "Not Boss" %>
    <% end -%>
  </div>

  <div class="question-body">
    <%= @question.body%>

  </div>

  <div class="question-info">
    <span class="user-name"><%= @question.user.username %></span> asked <%= time_ago_in_words(@question.created_at) %> ago
  </div>
  <%= link_to 'Comment', questions_path, :class => 'add-comment' %>
  <div class='comment-form-question'>
    <%= form_for [@question, @comment], remote: true, :html => {:class => 'question-comment-form' } do |t| %>
      <%= t.label :body, 'Comment' %>
      <%= t.text_field :body %>
      <%= t.submit 'Submit Comment' %>
    <% end %>
  </div>
</div>

<div class="question-comments col-md-12">
  <div class='display-comments'>
    <ul class='comment-list'>
      <% @question.comments.each do |comment| %>
        <%= render '/shared/comments', :comment => comment %>
      <% end %>
    </ul>
  </div>
</div>

<h4 class='col-md-12'>Answer this question:</h4>
<div class='answer-question col-md-8'>
  <%= form_for [@question, @answer], remote: true,:cols => "30", :rows => "1"  do |f| %>
    <div class="form-group">
      <%= f.label :body, 'answer' %>
      <%= f.text_area :body, :class => 'form-control' %>
      <%= f.submit 'submit' %>

    </div>
  <% end %>
</div>
<h2 class='col-md-12'>
   <%= pluralize(@question.answers.count,  'answer')%>
</h2>
<div class='answers col-md-8'>
  <ul class='answer-list'>
  <% @question.answers.each do |answer| %>
    <%= render '/shared/answers', :answer => answer %>
    <%= link_to 'Comment on this', root_path, remote: true, :class => 'show-comment-form', :data => {id: answer.id } %>

    <div class='comment-form' id="answer<%= answer.id %>">
      <%= form_for [answer, @comment], remote: true, :html => {'data-id' => answer.id, :class => 'answer-comment-form' } do |t| %>
        <%= t.label :body, 'Comment Answer' %>
        <%= t.text_field :body %>
        <%= t.submit 'Submit Answer Comment' %>
      <% end %>
    </div>

  <div class='display-answer-comments'>
    <ul class='comment-list-answer' id="answer<%= answer.id %>" >
      <% answer.comments.each do |comment| %>
        <%= render '/shared/comments', :comment => comment %>
      <% end %>
    </ul>
  </div>

  <% end %>
</ul>
</div>
