<li class='single-answer'>

  <div class="single-answer-body">
    <%= answer.body %>
  </div>
  <span class="single-answer-info"><span class='user-name'><%= answer.user.username %></span>  answered about <%= time_ago_in_words(answer.created_at) %> ago</span>
  <% if current_user %>
    <div class="answer-upvote-box">
      <%= form_tag({ controller: "votes", action: "update", vote_type: true, voteable: { id: answer.id, type: answer.class }}, method: "put", remote: true) do -%>
        <%= button_tag "Boss", :class => 'btn btn-success' %>
      <% end -%>
    </div>
      <div id="answer-score<%= answer.id %>">
        <span><%= answer.vote_count %></span>
      </div>
    <div class="answer-downvote-box">  
      <%= form_tag({ controller: "votes", action: "update", vote_type: false, voteable: { id: answer.id, type: answer.class }}, method: "put", remote: true) do -%>
        <%= button_tag "Not Boss", :class => 'btn btn-danger' %>
      <% end -%>
    </div>
  <% end %>
</li>